<!doctype html>
<html lang="en">

<main class="container-fluid">
  <div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h2 class="card-title display-4 text-center my-3">Welcome to your Dashboard <%= current_user.email %></h2>
          <img class="card-img-top" alt="Card image cap" src="http://sensesofcinema.com/assets/uploads/2017/06/feature-spring-breakers-750x400.jpg" style="size: 500px">

      <h4 class="card-title my-3">First name: <%= current_user.first_name %></h4>
      <h4 class="card-title my-3">Last name:<%= current_user.last_name %></h4>
      <h4 class="card-title my-3">Description: <%= current_user.description %></h4>
      <h4 class="card-title my-3">Email:<%= current_user.email %></h4>
      <h6 class="card-text my-3"><%= current_user.email %></h6>
      <%= link_to 'Reset your password', edit_user_registration_path, class:"btn btn-dark" %>
    </div>
  </div>
      <h2 class="display-4 text-center my-3">Events you created:</h1>

  <% Event.all.each do |event| %>
    <% if @user.id == event.admin.id %>
      <div class="card my-3">
        <div class="card-header">
          <h4><%= event.title %></h4>
        </div>
        <div class="card-body">a
          <h5 class="card-title"> the <%= event.start_date %> at <%= event.location %></h5>
          <p class="card-text"><%= event.description %></p>
          <%= link_to 'Show', event, class:"btn btn-primary" %> 
          <% if user_signed_in? && current_user.id == event.admin.id %>
            <%= link_to 'Edit', edit_event_path(event), class:"btn btn-success" %> 
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          <% end %>
        </div>
        <div class="card-footer">
          Price : <%= event.price %> € // Length : <%= event.duration %> min
        </div>
    <% end %>
<% end %>
</main>
</body>
</html>
