<main class="container">
<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @event.title %></h1>


<div class="card my-5">
  <div class="card-header">
    <img class="card-img-top" alt="Card image cap" src="https://i2.wp.com/stylegirlfriend.com/wp-content/uploads/2014/06/17577_398893615296_5386806_n.jpg">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>When: </strong><%= @event.start_date.strftime('%d/%m/%Y à %H:%M') %></li>
    <li class="list-group-item"><strong>Price: </strong><%= @event.price %></li>
    <li class="list-group-item"><strong>Where: </strong><%= @event.location %></li>
    <li class="list-group-item"><strong>Description: </strong><%= @event.description %></li>
    <li class="list-group-item"><strong>Participants: </strong></li>
    <li class="list-group-item"><strong>Administrator: </strong><% @user = User.find_by(id: @event.admin_id) %><%= @user.email %>
</li>
  </ul>
</div>

<% if @event.admin_id != current_user.id %>
    <% if @event.users.include?(current_user) %>
    <p>Bravo tu participes déjà à cet évènement !!</p>
    <% else %>
      <%= link_to "Participer à l'évènement", new_attendance_path(id: @event.id), class:"btn btn-success" %>
    <% end %>  
  <% end %>  
    <%= link_to 'Retour Accueil', events_path, class:"btn btn-primary" %>
  <p>Il y a <%= @event.users.count %> participants!!</p> 
</main>