<main class="container">
<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @event.title %></h1>


<div class="card my-5">
   <h3>Charger un event pic ?</h3>
  <%= form_tag event_event_pics_path(@event), multipart: true do %>
    <%= file_field_tag :event_pic %>
    <%= submit_tag "soumettre" %>
  <% end %>
  <div class="card-header">
  <%if @event.event_pic.attached?%>
    <%= image_tag @event.event_pic, alt: 'event_pic' %>
  <%else%>
    <img class="card-img-top" alt="Card image cap" src="https://i2.wp.com/stylegirlfriend.com/wp-content/uploads/2014/06/17577_398893615296_5386806_n.jpg">
  <%end%>
  </div>


  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>When: </strong><%= @event.start_date.strftime('%d/%m/%Y à %H:%M') %></li>
    <li class="list-group-item"><strong>Price: </strong><%= @event.price %></li>
    <li class="list-group-item"><strong>Where: </strong><%= @event.location %></li>
    <li class="list-group-item"><strong>Description: </strong><%= @event.description %></li>
    <li class="list-group-item"><strong>Participants: </strong></li>
    <li class="list-group-item"><strong>Administrator: </strong><% @user = User.find_by(id: @event.admin_id) %><%= @user.email %>
</li>
  </ul>
</div>

    <% if @event.admin_id == current_user.id %>
      <%= link_to 'Edit', edit_event_path(@event), class:"btn btn-success" %> 
      <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Est-ce que tu es sûr ?' }, class:"btn btn-danger" %>
    <% end %>

<% if @event.admin_id != current_user.id %>
    <% if @event.users.include?(current_user) %>
    <p>Bravo tu participes déjà à cet évènement !!</p>
    <% else %>
      <%= link_to "Participer à l'évènement", new_attendance_path(id: @event.id), class:"btn btn-success" %>
    <% end %> 
     <% else %>
     <%= link_to "Mon espace evenement", attendances_path(id: @event.id), class:"btn btn-success" %>
  <% end %>  
    <%= link_to 'Retour Accueil', events_path, class:"btn btn-primary" %>
  <p>Il y a <%= @event.users.count %> participants!!</p> 
</main>