<!doctype html>
<html lang="en">

  <body>


<h1>Events round the Hood</h1>


<h1>Voici la liste de tes events :</h1>

<main class="container">
  <br>    
    <div class="jumbotron jumbotron-hero px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <h2><%= link_to "Create a New Event", new_event_path, class:"btn btn-outline-info mx-1 my-1" %></h2>
      </div>
    </div>

    <div class="row row-cols-5 row-cols-md-3  p-md-0 m-md-0 d-flex justify-content-center">
    <% Event.all.sort.each do |event| %>
      <div class="card border-info text-center bg-light my-3 mx-3" style="max-width: 18rem;"> 
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.location %></p>
          <p class="card-text"><%= event.start_date %></p>
        </div>
        <div class="card-footer">
          <%= link_to "See more", event_path(event.id), class:"btn btn-outline-info mx-1 my-1" %>
        </div>
      </div>
    <% end %>
  </div>
</main>
</body>
</html>